<div class="what--background">
  <h2 class="what--block__heading">
    <span class="highlight">What</span> We Do
  </h2>
  <section class="what--block">
    <div class="what--elements">
      <div class="icon-container">
        <i class="fas fa-university"></i>
      </div>
      <div>
        <h3>Investment Banking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
    <div class="what--elements">
      <div class="icon-container">
        <i class="fas fa-book-reader"></i>
      </div>
      <div>
        <h3>Investment Banking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
    <div class="what--elements">
      <div class="icon-container">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div>
        <h3>Investment Banking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
  </section>
</div>
