<section class="who">
  <div class="who--image"></div>
  <div class="who--block">
    <h2><span class="highlight">Who</span> We Are</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime pariatur
      mollitia accusantium tenetur voluptate error quod debitis eius, corporis
      nisi?
    </p>
    <h3>Our team</h3>
    <ul class="list">
      <li class="who-list">Muhammad Qassim: CEO</li>
      <li class="who-list">Muhammad Ali: CFO</li>
      <li class="who-list">Muhammad Hussain: Investment Manager</li>
      <li class="who-list">Arooj Shahzad: Lead Accountant</li>
      <li class="who-list">Ayesha Najib: Senior Accountant</li>
    </ul>
  </div>
</section>
